 <div class="user-details">
  <h1> My Skillset </h1>
  <p> {{site.user_description}} </p>

</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-photoshop-plain colored" style="font-size: 50px;"></i>
      <i class="devicon-figma-plain colored" style="font-size: 50px;"></i>
      <i class="devicon-blender-original colored" style="font-size: 50px;"></i>
      <p>Decent Photoshop skills but always learning. Confident in my UI/UX designing capabilites, but haven't gotten further than Figma mockups yet. I am far from good at 3d modelling but I find it interesting anyways.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored" style="font-size: 50px;"></i>
      <i class="devicon-html5-plain colored" style="font-size: 50px;"></i>
      <i class="devicon-bash-plain colored" style="font-size: 50px;"></i>
      <i class="devicon-r-original colored" style="font-size: 50px;"></i>
      <p>Decently profiencient at Python. Great at basic HTML. Learning Bash but have acquired general Linux profiency. Pretty good at R.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-vscode-plain colored" style="font-size: 50px;"></i>
      <i class="devicon-git-plain colored" style="font-size: 50px;"></i>
      <i class="devicon-androidstudio-plain colored" style="font-size: 50px;"></i>
      <i class="devicon-arduino-plain colored" style="font-size: 50px;"></i>
      <p>VScode for everday coding. Full Git Proficiency. Learning basic android app development. Learning Arduino programming with an Uno R3.</p>
    </div>
    <div class="tech">
      <h2>General Interests</h2>
      <i class="fa-solid fa-table-tennis-paddle-ball" style="font-size: 50px;"></i>
      <i class="fa-solid fa-language" style="font-size: 50px;"></i>
      <i class="fa-solid fa-code" style="font-size: 50px;"></i>
      <i class="fa-solid fa-palette" style="font-size: 50px;"></i>
      <i class="fa-solid fa-camera-retro" style="font-size: 50px;"></i>
      <i class="fa-solid fa-gamepad" style="font-size: 50px;"></i>
      <i class="fa-solid fa-car-side" style="font-size: 50px;"></i>
      <p>Love playing tennis, pretty good at it too. Fluent in English and Bengali, can scrape by in French. Will hopefully get to learning another language soon, possibly Spanish or a Nordic language for the sake of similarity to English. Casually code things more or less for personal use, some of which is on my Github. Love Graphic Design and designing unique UI/UX concepts. Interested in casual photography but not very good at it. If a game is non-competitive, story based, single player with decent gameplay I'll probably like it. Love cool and fast-looking cars but don't know anything about how they work.</p>
    </div>
</div>
