<style>
    video {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
    @media only screen and (min-width: $cut) { 
        video {
            float: left;
            width: 48%;
        }
    }
</style>
<div class="user-details">
  <h1> Featured Personal Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <video controls>
    <source src="/assets/img/shelldemo.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents-right">
    <h3> Wooden Cutting board </h3>
    <ul>
      <li> Cut and glued strips of wood; making use of the mitre saw, jointer, and table saw.</li>
      <li> Squared board and cut to size. Also made cutout handle with drill, jigsaw, and router.</li>
      <li> Made custom geometric CNC engraving using a geometric bird image found online.</li>
      <li> Sanded smooth and coated with food-safe oil finish.</li>
    </ul>
    <p>Built basic wooden cutting board with handle and custom CNC engraving.</p>
  
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <video controls>
    <source src="/assets/img/shelldemo.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents-right">
    <h3> Custom CLI-like browser startpage </h3>
    <ul>
      <li> Command line/Terminal/Shell like interface to act as the default homepage of my browser.</li>
      <li> Custom shortcuts to frequented sites and google and direct url support.</li>
      <li> Many simulated linux commands with command auto-completion with "tab" key.</li>
      <li> Supports live-data fetching using API's to get the weather, jokes, quotes and more.</li>
    </ul>
    <p>Customized terminal like interface to allow me to quickly get the information I want as soon as I open a new tab. Allows for extremely fast keyboard-only operations without clutter. Dozens of commands for all purposes related to web browsing and gathering information at a glance. Based on Cveinnt's Liveterm with heavy customization and aesthetic changes.</p>
  
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <video controls>
    <source src="/assets/img/linuxos.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
  </div>
  <div class="contents-right">
    <h3> Custom Linux Operating System </h3>
    <ul>
      <li> Setup custom Linux-based OS with custom packages, desktop environment(deepin).</li>
      <li> Learned to assign system and user groups, create symlinks and setup base OS from terminal.</li>
      <li> Made on an Oracle VirtualBox virtual machine.</li>
      <li> using Arch btw.</li>
    </ul>
    <p>Customized the notoriosly hard-to-use Arch Linux with a user friendly interface and feel. Allowing anyone regardless of Linux or Programming ability to be able to use "Okiedokie OS" as they woulld use any other computer. Pre-installed helpful packages such as a web browser and media applications while keeping the system light and optimized to run on low-end devices.</p>
  
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="phoneholder" src="{{ "/assets/img/holder.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Wood phone stand </h3>
    <ul>
      <li> Created template of design on the computer</li>
      <li> Created simple 3d model for visualization and feasablity purposes</li>
      <li> Printed template and glued to main sheet of wood</li>
      <li> Used jig Saw to cut out enough material for template</li>
      <li> Used band saw to cut out seperate pieces</li>
      <li> Used drill press and scroll saw to create intersection cuts</li>
      <li> Sanded using belt sander and assembled project</li>
    </ul>
    <p>Designed and built simple phone stand out of wood. Learned to use band, scroll, and jig saw along with belt sander. Result is a functional phone stand with a storage area.</p>
    <a class="project-link" href="/assets/img/template.pdf" target="_blank">Template</a>  
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="cncengraving" src="{{ "/assets/img/gcode.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CNC Mill Engraving </h3>
    <ul>
      <li> Learned how to write basic Gcode such as straight and rotational cutting along a curve</li>
      <li> Plotted each unique point of intials on grid</li>
      <li> Wrote G-code based on points I plotted</li>
      <li> Learned movement(XY), tool distance(Z), rotational cutting(R), execution steps(N) and action type(G)</li>
      <li> Started machine with my G-code to engrave some plastic</li>
    </ul>
    <p>First time using a CNC mill machine with custom G-code I wrote to engrave my initals into a piece of plastic. Simple project but learned to work with CNC machine and write G-code. Learnt proper safety while using CNC machinery. Ended up just using the machine fonts for the final engraving but was a good learning experience.</p>
    <a class="project-link" href="/assets/img/gcode0.txt" target="_blank">View .gcode</a>  
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mask" src="{{ "/assets/img/mask.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> LED Navigation Mask </h3>
    <ul>
      <li> Made  cardboard controller with individual switches, then connected that to seperate check lights</li>
      <li> Added 9v battery with 330 ohm resistor to power controller</li>
      <li> Hot glued + Soldered exposed copper wires</li>
      <li> Merged individual wires into one central cable that leads from controller to mask</li>
      <li> Created LED communication protocol, then placed LEDs on mask, and wired LED's from cable</li>
      <li> Wired negative terminals of mask LEDs back to resistor on negative terminal of battery</li>
      <li> Earned first place by achieving lowest combined time to solve maze</li>
    </ul>
    <p>Tasked to create a mask in which the wearer sees nothing but LEDs inside mask. The LEDs will be controlled externally and be used to guide the wearer through a maze as fast as possible, communicating only using LEDs. Started by prototyping before construction. Learned to solder, create hardwired physical circuits, and learnt safe practices while working with electricity. Overall extremely satisfied with the result. Final Product is a pretty decent looking mask that allows fast and precise communication using external controller. Achieved fastest combined time in the class and learned hands-on circuitry and schematic making.</p>
    <a class="project-link" href="/assets/img/circuit.png" target="_blank">View Schematic</a>  
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="roses" src="{{ "/assets/img/roses.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Metal Roses </h3>
    <ul>
      <li> Used plasma arc cutter to cut sheet metal petals</li>
      <li> Drill pressed holes into petals to attach to stem</li>
      <li> Welded Petals to stem using MIG welder</li>
      <li> Manualy bent petals into rough shape of rose using pliers</li>
      <li> Painted flower part </li>
      <li> Plasma cut sheet metal leaves, bent them, and welded on to stem</li>
      <li> Spray painted stem</li>
    </ul>
    <p>Decorational project that taught me how to use some new machines. Final product actually clearly resembles a rose, pretty surprised by how well it looks honestly. Made a second one to see my progress between first and second time using aforementioned machines. Second rose turned out looking better but unfortunately the paint was a little off which was sort of out of my control. First time welding and using plasma cutter but it's easier than it seems. Learnt safe machinery practices the whole time.  Linked below is the exact template I used for the petals although I did not use the 4 sided thorn thing. Stem was about 20 cm long, red paint for flower, black paint for stem (green might look better though). </p>
    <a class="project-link" href="https://i.pinimg.com/736x/db/1b/85/db1b85f042b3560330bfac7e7acfc783.jpg" target="_blank">Template I used</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="felting" src="{{ "/assets/img/felting.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Felting Projects </h3>
    <ul>
      <li> Rolled some fell into a ball</li>
      <li> Poked with needle repeatedly until firm and in desired shape</li>
      <li> Added decorational felt</li>
      <li> Repeatedly poked decorations until attached to main ball</li>
      <li> Attach metal keychain to main ball will extra felt</li>
      <li> Hip Hip Hooray!</li>
    </ul>
    <p>Creative art project that I did not think I would enjoy this much. Time-consuming but very fun and relaxing to make. Trickier than it sounds and I ended up giving my self small cuts from the neeedle all over my hand. Made a whole bunch just because I enjoyed it a lot. Put most of them on a keychain so now I just have a handful of wooly keychains.</p>
  
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="dashboard" src="{{ "/assets/img/dashboard.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Personal Dashboard </h3>
    <ul>
      <li> Set up website</li>
      <li> Added each element I wanted where I wanted it</li>
      <li> Played around with design</li>
      <li> Done!</li>
    </ul>
    <p>Decided I needed a dashboard that I would see everytime I opened a new tab. So I made one with embeds to many useful functions. Features include: Top taskbar with frequented websites, Snapdrop.net support, Clock, Calculator, Relaxing music playlist, Stopwatch, Timer, Greeting (Good morning, afternoon etc.), Video/audio downlaoder, Notepad, To-do list, Live location-based weather, Calendar, Built-in search bar, New documents section, Location detection and beautiful images and background that changes every time you open the dashboard. Pretty content with the result as it's just for personal use anyway.</p>
  
  </div>
</div>
