<div class="user-details">
  <h1> Featured Personal Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CNC Mill Engraving </h3>
    <ul>
      <li> Learned how to write basic Gcode such as straight and rotational cutting along a curve</li>
      <li> Plotted each unique point of intials on grid</li>
      <li> Wrote G-code based on points I plotted</li>
      <li> Learned movement(XY), tool distance(Z), rotational cutting(R), execution steps(N) and action type(G)</li>
      <li> Started machine with my G-code to engrave some plastic</li>
    </ul>
    <p>First time using a CNC mill machine with custom G-code I wrote to engrave my initals into a piece of plastic. Simple project but learned to work with CNC machine and write G-code. Learnt proper safety while using CNC machinery.</p>
    <a class="project-link" href="/assets/img/gcode0.txt" target="_blank">View .gcode</a>  
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> LED Navigation Mask </h3>
    <ul>
      <li> Made  cardboard controller with individual switches, then connected that to seperate check lights</li>
      <li> Added 9v battery with 330 ohm resistor to power controller</li>
      <li> Hot glued + Soldered exposed copper wires</li>
      <li> Merged individual wires into one central cable that leads from controller to mask</li>
      <li> Created LED communication protocol, then placed LEDs on mask, and wired LED's from cable</li>
      <li> Wired negative terminals of mask LEDs back to resistor on negative terminal of battery</li>
      <li> Earned first place by achieving lowest combined time to solve maze</li>
    </ul>
    <p>Tasked to create a mask in which the wearer sees nothing but LEDs inside mask. The LEDs will be controlled externally and be used to guide the wearer through a maze as fast as possible, communicating only using LEDs. Started by prototyping before construction. Learned to solder, create hardwired physical circuits, and learnt safe practices while working with electricity. Overall extremely satisfied with the result. Final Product is a pretty decent looking mask that allows fast and precise communication using external controller. Achieved fastest combined time in the class and got a grade of 100%.</p>
    <a class="project-link" href="/pages/ledmask.html" target="_blank">Demonstration</a>  
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/roses.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Metal Roses </h3>
    <ul>
      <li> Used plasma arc cutter to cut sheet metal petals</li>
      <li> Drill pressed holes into petals to attach to stem</li>
      <li> Welded Petals to stem using MIG welder</li>
      <li> Manualy bent petals into rough shape of rose using pliers</li>
      <li> Painted flower part </li>
      <li> Plasma cut sheet metal leaves, bent them, and welded on to stem</li>
      <li> Spray painted stem</li>
    </ul>
    <p>Decorational project that taught me how to use some new machines. Final product actually clearly resembles a rose, pretty surprised by how well it looks honestly. Made a second one to see my progress between first and second time using aforementioned machines. Second rose turned out looking better but unfortunately the paint was a little off which was sort of out of my control. First time welding and using plasma cutter but it's easier than it seems. Learnt safe machinery practices the whole time.  Linked below is the exact template I used for the petals although I did not use the 4 sided thorn thing. Stem was about 20 cm long, red paint for flower, black paint for stem (green might look better though). </p>
    <a class="project-link" href="https://i.pinimg.com/736x/db/1b/85/db1b85f042b3560330bfac7e7acfc783.jpg" target="_blank">Template I used</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/felting.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Felting Projects </h3>
    <ul>
      <li> Rolled some fell into a ball</li>
      <li> Poked with needle repeatedly until firm and in desired shape</li>
      <li> Added decorational felt</li>
      <li> Repeatedly poked decorations until attached to main ball</li>
      <li> Attach metal keychain to main ball will extra felt</li>
      <li> Hip Hip Hooray!</li>
    </ul>
    <p>Creative art project that I did not think I would enjoy this much. Time-consuming but very fun and relaxing to make. Trickier than it sounds and I ended up giving my self small cuts from the neeedle all over my hand. Made a whole bunch just because I enjoyed it a lot. Put most of them on a keychain so now I just have a handful of wooly keychains.</p>
  
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/dashboard.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Personal Dashboard </h3>
    <ul>
      <li> Set up website</li>
      <li> Added each element I wanted where I wanted it</li>
      <li> Played around with design</li>
      <li> Done!</li>
    </ul>
    <p>Decided I needed a dashboard that I would see everytime I opened a new tab. So I made one with embeds to many useful functions. Features include: Top taskbar with frequented websites, Snapdrop.net support, Clock, Calculator, Relaxing music playlist, Stopwatch, Timer, Greeting (Good morning, afternoon etc.), Video/audio downlaoder, Notepad, To-do list, Live location-based weather, Calendar, Built-in search bar, New documents section, Location detection and beautiful images and background that changes every time you open the dashboard. Pretty content with the result as it's just for personal use anyway.</p>
  
  </div>
</div>
